/* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  line-height: 15pt;
  -webkit-font-smoothing: antialiased;
}
/* line 14, ../sass/screen.scss */
body div.lightbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ccc;
  background-color: rgba(120, 120, 120, 0.5);
}
/* line 22, ../sass/screen.scss */
body div.lightbox div.content {
  display: block;
  max-width: 500px;
  margin: 20px auto;
  padding: 5px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 29, ../sass/screen.scss */
body div.lightbox div.content p {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}
/* line 36, ../sass/screen.scss */
body img.image128 {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto;
}
/* line 42, ../sass/screen.scss */
body #container {
  max-width: 500px;
  margin: 2em auto;
}
/* line 47, ../sass/screen.scss */
body #container .btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: 0;
  border: 0;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  padding: 0 20px;
  line-height: 31px;
  height: 31px;
  font-weight: bold;
  white-space: nowrap;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  background-color: #394bdd;
  font-family: Roboto,arial,sans-serif;
  font-size: 13px;
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 1em;
}
/* line 60, ../sass/screen.scss */
body #container .btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  background-color: #394bdd;
}
/* line 64, ../sass/screen.scss */
body #container .btn:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  background-color: #2e3ebe;
}
/* line 74, ../sass/screen.scss */
body #container .btn.delete {
  /* TODO fix for IE */
  background-color: #d23;
}
/* line 80, ../sass/screen.scss */
body #container #list li.mail .label {
  font-size: 0.7em;
  font-weight: 800;
  padding: 1px;
}
/* line 85, ../sass/screen.scss */
body #container #list li.mail .content, body #container #list li.mail .summary {
  cursor: pointer;
  margin-bottom: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 89, ../sass/screen.scss */
body #container #list li.mail .content:hover, body #container #list li.mail .summary:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  background-color: #eee;
}
/* line 93, ../sass/screen.scss */
body #container #list li.mail .content:active, body #container #list li.mail .summary:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
}
/* line 98, ../sass/screen.scss */
body #container #list li.mail .content {
  display: block;
  background-color: #eee;
}
/* line 102, ../sass/screen.scss */
body #container #list li.mail .summary {
  white-space: nowrap;
  overflow: hidden;
  width: 69%;
  /* TODO not responsive */
  height: 31px;
  line-height: 31px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 109, ../sass/screen.scss */
body #container #list li.mail .summary div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 114, ../sass/screen.scss */
body #container #list li.collapsed .content {
  display: none;
}
/* line 118, ../sass/screen.scss */
body #container #switch-view {
  margin: auto;
  width: 211px;
  /* TODO fix hard-coding (is b/c of padding) */
}
/* line 122, ../sass/screen.scss */
body #container #switch-view .btn.selected {
  background-color: #ccc;
}
/* line 124, ../sass/screen.scss */
body #container #switch-view .btn.selected#view-compose:hover, body #container #switch-view .btn.selected#view-compose:active {
  /* want no change on hover here */
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  background-color: #ccc;
}
/* line 131, ../sass/screen.scss */
body #container #switch-view #view-compose {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -4px;
                    /* TODO not the best way to do this, but
having a hard time tracking down the source of spacing... */
}
/* line 136, ../sass/screen.scss */
body #container #switch-view #view-list {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 140, ../sass/screen.scss */
body #container #signinButton {
  background-color: #dd4b39;
}
/* line 142, ../sass/screen.scss */
body #container #signinButton:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  background-color: #dd4b39;
}
/* line 146, ../sass/screen.scss */
body #container #signinButton:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  background-color: #be3e2e;
}
/* line 151, ../sass/screen.scss */
body #container p {
  margin-bottom: 0.5em;
  /* stupid simple spacing */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 155, ../sass/screen.scss */
body #container h1 {
  font-size: 2em;
}
/* line 158, ../sass/screen.scss */
body #container #header-icon {
  width: 64px;
  height: 64px;
  background: no-repeat url(/sendmail-64.png);
}
/* line 163, ../sass/screen.scss */
body #container img.face-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: 0.5em;
}
/* line 168, ../sass/screen.scss */
body #container #header-bar .right *, body #container #header-bar .left *, body #container #header-bar .wrap {
  display: inline-block;
  vertical-align: middle;
}
/* line 172, ../sass/screen.scss */
body #container #header-bar .wrap {
  width: 49%;
  /* because css :P */
}
/* line 177, ../sass/screen.scss */
body a.github-fork {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 184, ../sass/screen.scss */
body #error-bar {
  width: 100%;
  font-weight: bold;
  line-height: 2em;
  background-color: #d00;
}
/* line 189, ../sass/screen.scss */
body #error-bar.success {
  background-color: #0d0;
}
/* line 194, ../sass/screen.scss */
body #compose span.input-wrap {
  display: block;
  overflow: hidden;
}
/* line 198, ../sass/screen.scss */
body #compose input, body #compose textarea {
  display: block;
  margin-bottom: 1em;
}
/* line 202, ../sass/screen.scss */
body #compose span.input-wrap input, body #compose textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 206, ../sass/screen.scss */
body #compose textarea {
  height: 300px;
}
/* line 209, ../sass/screen.scss */
body #compose label {
  float: left;
  margin-right: 0.5em;
}
/* line 213, ../sass/screen.scss */
body #compose #from {
  border: 0;
  outline: 0;
}
/* line 218, ../sass/screen.scss */
body ul.list {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 222, ../sass/screen.scss */
body ol.list {
  list-style-type: decimal;
  list-style-position: inside;
}
/* line 226, ../sass/screen.scss */
body #Help {
  padding: 5px 5px 0 0;
  cursor: pointer;
}
/* line 230, ../sass/screen.scss */
body .ui-tooltip {
  max-width: 400px;
}

/* util type things */
/* line 236, ../sass/screen.scss */
.left {
  float: left;
}

/* line 239, ../sass/screen.scss */
.right {
  float: right;
}

/* line 242, ../sass/screen.scss */
.clear {
  float: none;
  clear: both;
}
