@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "compass/css3/user-interface";

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 12pt;
    line-height: 15pt;
    -webkit-font-smoothing: antialiased;
    div.lightbox {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #ccc;
        background-color: rgba(120,120,120,0.5);
        div.content {
            display: block;
            max-width:500px;
            margin: 20px auto;
            padding: 5px;
            background-color: #fff;
            @include border-radius(10px);
            img.image128 {
                display: block;
                width: 128px;
                height: 128px;
                margin: 0 auto;
            }
            p {
                font-size: 1.5em;
                font-style: italic;
                text-align: center;
            }
        }
    }
    #container {
        
        max-width: 500px;
        margin: 2em auto;
        
        .btn {
            cursor: pointer;
            @include user-select(none);
            outline: 0;
            border: 0;
            @include border-radius(3px, 3px);
            padding: 0 20px;
            line-height: 31px;
            height: 31px;
            font-weight: bold;
            white-space: nowrap;
            @include box-shadow(rgba(black, 0.1) 0 1px 0);
            background-color: #394bdd;
            &:hover {
                @include box-shadow(rgba(black, 0.2) 0 -2px 0 inset);
                background-color: #394bdd;
            }
            &:active {
                @include box-shadow(rgba(black, 0.2) 0 2px 0 inset);
                background-color: #2e3ebe;
            }
            font-family: Roboto,arial,sans-serif;
            font-size: 13px;
            color: #fff;
            @include inline-block;
            margin-bottom: 1em;

            /* currently using this for compose/view switch */
            &.selected {
                background-color: #ccc;
            }
            &.delete {
                background-color: #d23;
            }
        }
        
        #signinButton {
            background-color: #dd4b39;
            &:hover {
                @include box-shadow(rgba(black, 0.2) 0 -2px 0 inset);
                background-color: #dd4b39;
            }
            &:active {
                @include box-shadow(rgba(black, 0.2) 0 2px 0 inset);
                background-color: #be3e2e;
            }
        }
        p {
            margin-bottom: 0.5em; /* stupid simple spacing */
            @include inline-block;
        }
        h1 {
            font-size: 2em;
        }
        #header-icon {
            width: 64px;
            height: 64px;
            background: no-repeat url(/sendmail-64.png);
        }
        img.face-circle {
            @include border-radius(50%);
            margin-right: 0.5em;
        }
        #header-bar {
            overflow: auto;
            .right *, .left *, .wrap {
                display:inline-block;
                vertical-align: middle;
            }
            .wrap {
                width: 49%; /* because css :P */
            }
        }
    }
    a.github-fork {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
    }
    #error-bar {
        width: 100%;
        font-weight: bold;
        line-height: 2em;
        background-color: #d00;
        &.success {
            background-color: #0d0;
        }
    }
    #compose {
        input, textarea {
            display: block;
            margin-bottom: 1em;
        }
        textarea {
            width: 100%;
            height: 300px;
        }
        label {
            float: left;
            margin-right: 0.5em;
        }
    }
}

/* util type things */
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    float: none;
    clear: both;
}


