@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 12pt;
    line-height: 15pt;
    #container {
        
        max-width: 500px;
        margin: 2em auto;
        
        span #signInButton {
            float: right;
        }
        
        * {
            margin-bottom: 0.5em;
        }
        p {
            max-width: 800px;
        }
        h1 {
            font-size: 2em;
        }
    }
    a.github-fork {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
    }
}



