html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  line-height: 15pt;
  -webkit-font-smoothing: antialiased; }
body div.lightbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ccc;
  background-color: rgba(120, 120, 120, 0.5); }
body div.lightbox div.content {
  display: block;
  max-width: 500px;
  margin: 20px auto;
  padding: 5px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
body div.lightbox div.content p {
  font-size: 1.5em;
  font-style: italic;
  text-align: center; }
body img.image128 {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto; }
body #container {
  max-width: 500px;
  margin: 2em auto; }
body #container .btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: 0;
  border: 0;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  padding: 0 20px;
  line-height: 31px;
  height: 31px;
  font-weight: bold;
  white-space: nowrap;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  background-color: #394bdd;
  font-family: Roboto,arial,sans-serif;
  font-size: 13px;
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 1em; }
body #container .btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  background-color: #394bdd; }
body #container .btn:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  background-color: #2e3ebe; }
body #container .btn.delete {
  /* TODO fix for IE */
  background-color: #d23; }
body #container #list li.mail .label {
  font-size: 0.7em;
  font-weight: 800;
  padding: 1px; }
body #container #list li.mail .content, body #container #list li.mail .summary {
  cursor: pointer;
  margin-bottom: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
body #container #list li.mail .content:hover, body #container #list li.mail .summary:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  background-color: #eee; }
body #container #list li.mail .content:active, body #container #list li.mail .summary:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset; }
body #container #list li.mail .content {
  display: block;
  background-color: #eee; }
body #container #list li.mail .summary {
  white-space: nowrap;
  overflow: hidden;
  width: 69%;
  /* TODO not responsive */
  height: 31px;
  line-height: 31px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
body #container #list li.mail .summary div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
body #container #list li.collapsed .content {
  display: none; }
body #container #switch-view {
  margin: auto;
  width: 211px;
  /* TODO fix hard-coding (is b/c of padding) */ }
body #container #switch-view .btn.selected {
  background-color: #ccc; }
body #container #switch-view .btn.selected#view-compose:hover, body #container #switch-view .btn.selected#view-compose:active {
  /* want no change on hover here */
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  background-color: #ccc; }
body #container #switch-view #view-compose {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: -4px;
                    /* TODO not the best way to do this, but
having a hard time tracking down the source of spacing... */ }
body #container #switch-view #view-list {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px; }
body #container #signinButton {
  background-color: #dd4b39; }
body #container #signinButton:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 0 inset;
  background-color: #dd4b39; }
body #container #signinButton:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0 inset;
  background-color: #be3e2e; }
body #container p {
  margin-bottom: 0.5em;
  /* stupid simple spacing */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
body #container h1 {
  font-size: 2em; }
body #container #header-icon {
  width: 64px;
  height: 64px;
  background: no-repeat url(/img/sendmail-64.png); }
body #container img.face-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: 0.5em; }
body #container #header-bar .right *, body #container #header-bar .left *, body #container #header-bar .wrap {
  display: inline-block;
  vertical-align: middle; }
body #container #header-bar .wrap {
  width: 49%;
  /* because css :P */ }
body a.github-fork {
  position: absolute;
  top: 0;
  left: 0;
  border: 0; }
body #error-bar {
  width: 100%;
  font-weight: bold;
  line-height: 2em;
  background-color: #d00; }
body #error-bar.success {
  background-color: #0d0; }
body #compose span.input-wrap {
  display: block;
  overflow: hidden; }
body #compose input, body #compose textarea {
  display: block;
  margin-bottom: 1em; }
body #compose span.input-wrap input, body #compose textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
body #compose textarea {
  height: 300px; }
body #compose label {
  float: left;
  margin-right: 0.5em; }
body #compose #from {
  border: 0;
  outline: 0; }
body ul.list {
  list-style-type: disc;
  list-style-position: inside; }
body ol.list {
  list-style-type: decimal;
  list-style-position: inside; }
body #Help {
  padding: 5px 5px 0 0;
  cursor: pointer; }
body .ui-tooltip {
  max-width: 400px; }

/* util type things */
.left {
  float: left; }

.right {
  float: right; }

.clear {
  float: none;
  clear: both; }
