<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="SendMail is intended for individuals trying automate their email usage we seek to provide a solution for scheduling message sending. Being able to precisely schedule email sending allows users to optimize timing for important messages, to effortlessly send out emails at pre-designated times, and to even send themselves reminders (such as re-sending themselves an email to review at a later time)." />
    <meta name="keywords" content="sendmail,send,mail,4911,email,automation,delayed,sending,gatech,CS4911" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width">
    <title>SendMail</title>
    <link href="/stylesheets/jquery-ui-1.10.4.custom.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css" />
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- Wouldn't normally put scripts here, but we want universal support for tooltips, so putting this here. All other scripts should be added at bottom -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/custom-tooltips.js"></script>
  <body>
