<% include head %>

<% if (locals.loading) { %>
    <div class="lightbox"><div class="content">
        <img class="image128" src="/sendmail-loading-128-opt.gif" alt="loading" />
        <p>Loading...</p>
    </div></div>
<% } %>
    
<div id="container">
    <% include headerbar %>
    <div id="switch-view">
        <div id="view-compose" class="btn selected">Compose</div>
        <div id="view-list" class="btn">Scheduled</div>
    </div>
    <form id="compose">
        <input id="subject" name="subject" value="New Message" type="text" />
        <label for="to">To:</label>
        <input id="to" name="to" type="text" title="please separate with spaces" /><%/* TODO make nicer */%>
        <label for="from">From:</label>
        <input id="from" name="from" />
        <label for="body">Body:</label>
        <textarea id="body" name="body"></textarea>
        <%/*todo schedule gui needs help /this whole form needs help */%>
        
        <input id="time" name="time" type="datetime" style="display:none;"/><%/* TODO make a lot nicer */%>
        <label for="datetimepick">When:</label>
        <input id="datetimepick" name="datetimepick" type="text"/>
        <input id="id" name="id" type="hidden" value="" />
        <input type="submit" id="schedule" class="btn right" value="Submit" />
    </form>
    <div id="list" style="display:none;">
        <img class="image128" src="/sendmail-loading-128-opt.gif" alt="loading" />
        <span id="list-loading-text">Loading...</span>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="jquery.datetimepicker.js"></script>
<script src="/lodash.custom.min.js"></script>
<script src="/ejs.min.js"></script>
<script src="/main.js"></script> <%/* TODO min & concat js for prod */%>
<% include foot %>
