<% include head %>

<% if (locals.loading) { %>
    <div class="lightbox"><div class="content">
        <img class="image128" src="/sendmail-loading-128-opt.gif" alt="loading" />
        <p>Loading...</p>
    </div></div>
<% } %>
<% include help %>
<div id="container">
    <% include headerbar %>
    <div id="switch-view">
        <a href="#compose"><div id="view-compose" class="btn selected tooltip" title="Changes will be preserved when switching views, double click to clear form.">Compose</div></a>
        <a href="#list"><div id="view-list" class="btn tooltip" title="View scheduled messages, click again to reload.">Scheduled</div></a>
    </div>
    <form id="compose">
        <div>
            <label for="to">To:</label>
            <span class="input-wrap">
                <input id="to" name="to" type="email" multiple required class="tooltip" title="Separate addresses with commas" />
            </span>
        </div>
        <div>
            <label for="from">From:</label>
            <span class="input-wrap">
                <input id="from" name="from" type=text" readonly />
            </span>
        </div>
        <div>
            <label for="subject">Subject:</label>
            <span class="input-wrap">
                <input id="subject" name="subject" type="text" />
            </span>
        </div>       
        <textarea id="body" name="body"></textarea>
        <input id="time" name="time" type="datetime" style="display:none;"/>
        <div>
            <label for="datetimepick">Time to Send:</label>
            <span class="input-wrap">
                <input id="datetimepick" name="datetimepick" type="text" size=13 class="tooltip" title="Leave blank to Send Now"/>
            </span>
        </div>
        <input id="id" name="id" type="hidden" value="" />
        <input type="submit" id="schedule" class="btn right" value="Submit" />
    </form>
    <div id="list" style="display:none;">
        <div id="list-loading">
            <div>Loading...</div>
            <img class="image128" src="/sendmail-loading-128-opt.gif" alt="loading" />
        </div>
    </div>
</div>

<script src="/jquery.datetimepicker.js"></script>
<script src="/lodash.custom.min.js"></script>
<script src="/ejs.min.js"></script>
<script src="/main.js"></script> <%/* TODO min & concat js for prod */%>
<% include foot %>
