<% include head %>

<% if (loading) { %>
    <div class="lightbox"><div class="content">
        <img class="loading128" src="/sendmail-loading-128-opt.gif" alt="loading" />
        <p>Loading...</p>
    </div></div>
<% } %>
    
<div id="container">
    <% include headerbar %>
    <form id="compose">
        <input id="subject" name="subject" value="New Message" type="text" />
        <label for="to">To:</label>
        <input id="to" name="to" type="email" title="please separate with spaces" /><%/* TODO make nicer */%>
        <label for="from">From:</label>
        <input id="from" name="from" />
        <label for="body">Body:</label>
        <textarea id="body" name="body"></textarea>
        <% //todo schedule gui needs help /this whole form needs help %>
        <label for="time">When:</label>
        <input id="time" name="time" type="text" readonly value="now" />
        <input type="submit" id="schedule" class="btn right" value="Submit" />
    </form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js">
</script>
<script src="/main.js"></script>
<% include foot %>
