<% include head %>

<% if (locals.loading) { %>
    <div class="lightbox"><div class="content">
        <img class="image128" src="/img/sendmail-loading-128-opt.gif" alt="loading" />
        <p>Loading...</p>
    </div></div>
<% } %>

<% include help %>

<div id="container" ng-app="sendmailApp">
    <div message-bar></div>

    <% include headerbar %>

    <div id="switch-view">
        <a href="#/compose"><div id="view-compose" class="btn selected tooltip" title="Changes will be preserved when switching views.">Compose</div></a>
        <a href="#/list"><div id="view-list" class="btn tooltip" title="View scheduled messages.">Scheduled</div></a>
    </div>

    <div ng-view></div>
</div>

<script src="/lib/jquery.datetimepicker.js"></script>
<script src="/lib/lodash.custom.min.js"></script>
<script src="/lib/ejs.min.js"></script>
<script src="/js/main.js"></script> <%/* TODO min & concat js for prod */%>

<% include foot %>
