<% include head %>

<% if (locals.loading) { %>
    <div class="lightbox"><div class="content">
        <img class="image128" src="/sendmail-loading-128-opt.gif" alt="loading" />
        <p>Loading...</p>
    </div></div>
<% } %>
<% include help %>
<div id="container">
    <% include headerbar %>
    <div id="switch-view">
        <div id="view-compose" class="btn selected">Compose</div>
        <div id="view-list" class="btn" title="View scheduled messages">Scheduled</div>
    </div>
    <form id="compose">
        <label for="subject">Subject:</label> 
        <input id="subject" name="subject" type="text"/>
        <label for="to">To:</label>
        <input id="to" name="to" type="text" class="tooltip" title="Separate addresses with commas" />
        <label for="from">From:</label>
        <input id="from" name="from" />
        <textarea id="body" name="body"></textarea>
        <input id="time" name="time" type="datetime" style="display:none;"/>
        <label for="datetimepick">Time to Send:</label>
        <input id="datetimepick" name="datetimepick" type="text" class="tooltip" title="Leave blank to Send Now"/>
        <input id="id" name="id" type="hidden" value="" />
        <input type="submit" id="schedule" class="btn right" value="Submit" />
    </form>
    <div id="list" style="display:none;">
        <img class="image128" src="/sendmail-loading-128-opt.gif" alt="loading" />
        <span id="list-loading-text">Loading...</span>
    </div>
</div>

<script src="/jquery.datetimepicker.js"></script>
<script src="/lodash.custom.min.js"></script>
<script src="/ejs.min.js"></script>
<script src="/main.js"></script> <%/* TODO min & concat js for prod */%>
<% include foot %>
